body {
    width: 900px;
    margin: auto;
    font-family: sans-serif;
}

h1 {
    color: red;
  }

header,
nav,
section,
aside,
footer {
    display: block;
    padding: 10px;
    margin: 10px;
    background: blue;
    text-align: center;
}

.clear {
    clear: both;
  }

article {
    color: #ebebeb;
    background: #777;
    padding: 10px;
}